<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tuna_guy-down-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,28},{22,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-down-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,28},{22,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-down-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,28},{22,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-left-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-left-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-left-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{20,26}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-right-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-right-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-right-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{20,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,28},{22,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-up-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{22,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tuna_guy-up-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{22,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tuna_guy.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aaf6e154b5677bdb1b0872d99b25cae$</string>
            <key>textureFileName</key>
            <string>tuna_guy.png</string>
        </dict>
    </dict>
</plist>
