<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explorer-down-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-down-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,0},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-down-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,0},{18,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-left-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,28},{16,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{16,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-left-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,28},{16,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{16,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-left-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,28},{16,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{16,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-right-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,56},{16,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{16,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-right-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,56},{16,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{16,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-right-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,56},{16,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{16,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-up-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,84},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-up-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,84},{18,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explorer-up-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,84},{18,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{18,26}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explorer.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:aaab5fc9667cb663393235a68c5a3f01$</string>
		<key>textureFileName</key>
		<string>explorer.png</string>
	</dict>
</dict>
</plist>
