<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dude-down-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{20,30}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-down-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,0},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{20,30}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-down-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,0},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,1},{20,30}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-left-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,0},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-left-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,0},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-left-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,34},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-right-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,34},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-right-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,34},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-right-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,34},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-up-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,34},{20,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{20,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-up-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{20,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{20,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dude-up-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,68},{20,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{20,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128,128}</string>
		<key>textureFileName</key>
		<string>dude.png</string>
	</dict>
</dict>
</plist>
